<!DOCTYPE html>
<html>
<head>
  <title>NDC Game App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <% if controller.controller_name == "games" %>
    <%= render 'shared/game_header' %>
  <% else %>
    <%= render 'shared/header' %>
  <% end %>
  
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= bootstrap_class_for(key) %>">
      <%= message %>
    </div>
  <% end %>
  
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
